@model Web.ViewModels.InvoiceVM
@{
    var products = new SelectList(Model.Products, "Id", "Name");

}
@for (int i = 0; i < Model.Items.Count; i++)
{
    <tr id="@i">
        <td>@(i + 1)</td>
        <td>
            <select class="form-control" asp-for="@Model.Items[i].ProductId">
                <option  value="">-----Choose----</option>
                @foreach (var e in Model.Products)
                {
                    if (e.Id == Model.Items[i].ProductId)
                    {
                        <option Price="@e.Price" selected="selected" value="@e.Id">@e.Name</option>
                    }
                    else
                    {
                        <option Price="@e.Price" value="@e.Id">@e.Name</option>
                    }
                }
            </select>
        </td>
        <td>
            <input type="number" asp-for="@Model.Items[i].Quantity" value="@Model.Items[i].Quantity" class="form-control" />
        </td>
        <td>
            <input value="@Model.Items[i].Price" type="number" asp-for="@Model.Items[i].Price" value="@Model.Items[i].Price" class="form-control" />
        </td>
        <td>
            <input asp-for="@Model.Items[i].TotalPrice" disabled type="number" value="@Model.Items[i].TotalPrice" class="form-control" />
        </td>
        <td><a onclick="Remove(@i)" class="btn btn-danger" style="width:100%">Delete</a></td>
    </tr>
}